<div class="header-top">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
				<ul>
					
					<li>
						@ViewBag.OpenHoursWeekdays
					</li>
					<li>
						@ViewBag.OpenHoursWeekends
					</li>
					<li>
						<a href="tel: @ViewBag.PhoneNumber">@ViewBag.PhoneNumber</a>
					</li>
					<li>
						@ViewBag.Location
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>